:root{
  --bg:#9c95ff;
  --font: "Archivo", sans-serif;
  --font-display: "Archivo Narrow", sans-serif;
  --hot-pink:#e94057;
  --orange:#512bff;
  --gradient: linear-gradient(35deg, var(--orange), var(--hot-pink));
}
body{
  margin:auto;
  min-height: 100vh;
  background: var(--bg);
  font-family: var(--font);
}
